#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.newcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem;

  .add-new-field {
    background-color: var(--antiquewhite);
    color: var(--mocca);
    border-radius: 8px;
    border: 1px solid transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  }

  .task-input {
    padding-left: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.cards {

  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;

  .cards-titles {
    margin-top: 1rem;
    padding-left: 4rem;

    color: var(--mocca);
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    gap: 1rem;

    text-align: center;
  }
}

ul {
  list-style-type: none;

  li,
  .cards-titles {
    margin-top: 1rem;
    background-color: var(--antiquewhite);
    color: var(--mocca);
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    gap: 1rem;

    border-radius: 8px;
    border: 1px solid transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    font-weight: 500;
  }


  li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.done {
  background-color: green;
  color: var(--antiquewhite);
}

.un-done {
  background-color: red;
  color: var(--antiquewhite);
}