#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.newcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.cards {

  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

ul {
  list-style-type: none;

  li {
    padding-left: 1rem;
    margin-top: 1rem;
    background-color: var(--antiquewhite);
    color: var(--mocca);
    display: grid;
    grid-template-columns: 12fr 1fr;

    border-radius: 8px;
    border: 1px solid transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

    font-size: 1.5rem;
    font-weight: 500;
  }

  li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}