:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  --antiquewhite: #dfd6ca;
  --mocca: #322f2b;
  --moccabeige: #968d81;
  --accentbrown: #663a2a;
  --accentorange: #eda460;


  background-color: var(--moccabeige);
  color: var(--mocca);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}


body {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  display: flex;
  align-items: center;
  background-color: var(--moccabeige);
  min-width: 320px;
  /* max-width: 800px; */
  min-height: 100vh;
}

#root {
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
.card button {
  border-radius: 0  8px  8px 0;
  border: 1px solid transparent;
  padding: 0 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  background-color: var(--mocca);
  color: var(--antiquewhite);
}

.newitembutton {
  background-color: var(--accentbrown);
  font-size: larger;
  transition: border-color 0.25s;

}


button:hover,
.card button:hover,
.newitembutton:hover {
  background-color: var(--moccabeige);
  color: var(--mocca);
  border-color: var(--mocca);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.newitembutton:hover {
  background-color: var(--accentorange);
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}